/* RESET & BASE */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    font-family: "Poppins", sans-serif;
}

:root {
    --clr-blue: rgb(29, 29, 116);
}

/* GENERAL STYLING */

html,
body {
    max-width: 100%;
    width: 100%;
    overflow-x: hidden;
    box-sizing: border-box;
}

.header {
    display: flex;
    align-items: center;
    padding: 20px;
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
    background-color: var(--clr-blue);
    color: #fff;
}

.body {
    padding: 20px;
    width: 100%;
    max-width: 100%;
}

/* NAVBAR */

#navbar {
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px 0;
    margin: 5px;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-weight: 400;
    transition: 0.2s ease;
}

#navbar li a.active {
    padding: 5px;
    border: 2px solid var(--clr-blue);
    border-radius: 5px 10px;
    font-weight: 600;
}

#navbar li a:hover {
    background-color: lightgray;
    border-radius: 5px;
    padding: 5px 10px;
}

/* INDEX.HTML */

.stages div {
    background-color: lightgrey;
    margin: 30px 40px;
    padding: 5px;
    border-radius: 20px;
}

.stages a {
    color: black;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
}

/* IMPORT.HTML */



/* SETUP.HTML */

.define-tags {
    margin-bottom: 30px;
    border-bottom: 1px solid black;
}

.tag-container {
    padding: 20px;
}

.set-criteria div {
    padding: 10px 0 40px 10px;
}

/* SCREENING.HTML */
/* TOGGLE */
.toggle-container {
    width: 100%;
    display: flex;
    justify-content: center;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 10px;
    overflow-x: auto;
}

.toggle,
.per-page-container,
.sort-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px 0;
    max-width: 100%;
    flex-wrap: wrap;
}

.per-page-container,
.sort-container {
    gap: 2px;
}

.toggle-container button,
.toggle-container select {
    cursor: pointer;
}

.toggle-container button,
.toggle-container label,
.sort-container label,
.sort-container select {
    border: 2px solid transparent;
    background-color: transparent;
    padding: 10px 20px;
    font-size: 14px;
    transition:  background-color 0.2s, border-color 0.2s;
    border-radius: 5px;
}

.toggle button:hover {
    background-color: #f0f0f0;
}

.toggle button.active {
    border-color: black;
    background-color: #e0e0e0;
}

.toggle-container select {
    width: 60px;
    text-align: center;
    border: solid 1px black;
    border-radius: 5px;
}

.sort-container select {
    width: 240px;
    text-align: left;
    border: solid 1px black;
    border-radius: 5px;
}

/* Other sorting functions */


/* STUDY CARD */
.study-card {
    margin: 20px auto;
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 5px;
    width: 90%;
}

.keywords,
.abstract {
    padding: 5px 0px;
}

#output h1 {
    font-size: 16px;
}

#output p {
    font-size: 12px;
}

.sub-information {
    columns: 3;
    column-gap: 20px;
    column-rule: 1px solid #ccc;
}

/* KEYWORDS & ABSTRACT DROP DOWN */
.dropdown-button {
    margin-top: 10px;
    background-color: transparent;
    border: none;
}

.dropdown-button:hover {
    background-color: #eaeaea;
    border-radius: 5px;
    cursor: pointer;
}

/* ACTIONS */
.actions {
    margin-top: 20px;
    border-top: 1px solid #ddd;
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px 10px 0;
}

.actions button {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    color: white;
    font-weight: 600;
}

.accept-btn {
    background-color: #4CAF50;
}

.reject-btn {
    background-color: #f44446;
}

.revert-btn {
    background-color: black;
}

.note-section, 
.tag-section {
    margin-top: 10px;
}

.note-input, 
.tag-input {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    box-sizing: border-box;
    font-size: 12px;
}

/* HIGHLIGHTING KEY WORDS */
.highlight-inclusion {
    background-color: #c8f7c5;;
    border-radius: 5px;
}
.highlight-exclusion {
    background-color: #f7c5c5;;
    border-radius: 5px;
}

/* SETUP.HTML */
/* Remove button */
.remove-tag-btn,
.remove-keyword-btn,
.remove-section-btn {
    background-color: transparent;
    border: none;
    color: #e74c3c;
    font-size: 20px;
    font-weight: 600;
    padding: 4px 8px;
}

.remove-tag-btn:hover,
.remove-keyword-btn:hover,
.remove-section-btn:hover {
    cursor: pointer;
    background-color: #f0f0f0;
}

#newExclusionSection,
#newInclusionSection {
    width: 300px;
}

.criteria-section li {
    font-size: 12px;
}

.set-criteria {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    margin-top: 20px;
    flex-wrap: wrap;
}

.inclusion-container, .exclusion-container {
    flex: 1;
    min-width: 300px;
    border: 1px solid #ccc;
    padding: 15px;
    margin: 0 20px;
    border-radius: 6px;
    background-color: #f9f9f9;
}
